:root {
  --bg-color: #f4f4f4;
  --text-color: #333;
  --link-color: #007acc;
  --nav-hover-color: #007acc;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header{
  max-width: 600px;
  width: 90%;
  margin-top: 2rem;
  text-align: center;
}

main{
  max-width: 600px;
  width: 90%;
  margin-top: 2rem;
}

footer {
  max-width: 600px;
  width: 90%;
  margin-top: 2rem;
  text-align: center;
}

.list {
  width: 100%;
}

.profilbild {
  border-radius: 50%;
  margin: 1rem 0;
  width: 150px;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-top: auto;
  padding: 2rem 0;
  font-size: 0.9em;
  color: #777;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--bg-color);
  padding: 1rem 0;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.nav li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav li a:hover {
  color: #007acc;
}

/* --- Burger Button --- */
.burger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

/* --- Mobile Menü --- */
@media (max-width: 600px) {

  body {
    font-size: 16px;
    padding: 0 1rem;
  }

  header, main, footer {
    width: 100%;
  }
  
  .burger {
    display: block;
  }

  .nav {
    flex-direction: column;
    display: none;
    background-color: var(--bg-color);
    border-top: 1px solid #ccc;
    padding: 1rem 0;
    gap: 0.5rem;
  }

  .nav.show {
    display: flex;
  }

  .profilbild {
    width: 120px;
  }
}

